@use 'assets/styles/main' as *;

.ViewPreorder {
  &_setPreorderAsComplete {
    margin-bottom: 20px;

    &_button {
      margin-left: auto;
      display: block !important;
    }

    @include mobile {
      button {
        display: block;
        width: 100%;
        margin: unset;
      }
    }
  }
}
