// Font
$font-primary: 'Nunito';

// Colors
$color-main-background: #f5f6fa;
// Neutrals
$neutral-900: #1f2730;
$neutral-800: #28313b;
$neutral-700: #2d3845;
$neutral-600: #3f4e5f;
$neutral-500: #626b77;
$neutral-400: #88919b;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #f0f5f9;
$neutral-0: #ffffff;

// Blues
$blue-500: #2387b2;
$blue-400: #269acd;
$blue-300: #2cabe3;
$blue-100: #97e2fc;

// Greens
$green-500: #37a166;
$green-400: #3bb672;
$green-300: #38ca79;
$green-100: #94edb8;

// Yellows
$yellow-500: #e0bc5d;
$yellow-400: #edca27;
$yellow-300: #ffdb31;
$yellow-100: #ffe9c2;

// Reds
$red-500: #bf5a4c;
$red-400: #d45340;
$red-300: #ee6450;
$red-100: #f99d9d;

// Purples
$purple-300: #a480ff;

// Oranges
$orange-300: #ff8f3f;
